# Use root/example as user/password credentials
version: '3.1'

services:
  postgresdb:
    image: postgres:15-alpine
    environment:
      - TZ=Brazil/East
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=establishment
    ports:
      - "5432:5432"
    expose:
      - "5432"
    networks:
      - comandapay-net
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

networks:
  comandapay-net: