spring:
  profiles:
    active: test
api:
  security:
    token:
      secret: drtcwcfvugefut78ko6728yhunjdw8po807
  credentials:
    client_id: Client_Id_e3c50f7c2146dc9318dbca38d6aec71d1da6fde7
    client_secret: Client_Secret_dbc6b397dedca80d95366524b740e3ba42e6cad4
    certificate: ./certs/hom-app-comanda.p12
    sandbox: true
    debug: false

spring-doc:
  swagger-ui:
    path: /swagger-ui.html
server:
  port: 8080

