spring:
  h2:
    console:
      enabled: true

  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    url: jdbc:postgresql://postgresdb:5432/
    password: $2a$12$j5D819b6qYx0cyaEZutGouc/rxrXT6P5.b0gqr75u01b.3vli36f2
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        naming:
          physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        format_sql: true
  pathmatch:
    matching-strategy: ant_path_matcher

springdoc:
  swagger-ui:
    path: /swagger-ui.html

server:
  port: 8080
