version: '3'
services:
  comandapay-postgresdb:
    image: postgres:latest
    environment:
      POSTGRES_DB: comandapay
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    networks:
      - app-network
    ports:
      - "5432:5432"

  cd-app:
    image: sua-imagem-springboot
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://comandapay-postgresdb:5432/comandapay
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root
    ports:
      - "8080:8080"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
