spring:
  h2:
    console:
      enabled: true

  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    url: jdbc:postgresql://200.98.80.143:3458/comandapp
    password: rcfykvu%$&^(*&%$
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        naming:
          physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        format_sql: true
  pathmatch:
    matching-strategy: ant_path_matcher

springdoc:
  swagger-ui:
    path: /swagger-ui.html

server:
  port: 8080
