name: Deploy via SSH and Run Script

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout do código
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Conectar ao servidor via SSH e fazer o deploy
      - name: Deploy to server and run script
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}    # Host ou IP do servidor
          username: ${{ secrets.SERVER_USER }} # Nome de usuário SSH
          key: ${{ secrets.SERVER_SSH_KEY }}  # Chave privada para autenticação
          port: 22                            # Porta SSH padrão (altere se necessário)
          script: |
            echo "Fazendo o deploy..."
            cd comandapay/  # Navegar até o diretório de deploy
            git pull                 # Atualizar o repositório no servidor
            chmod +x .start-me.sh     # Garantir permissões de execução no script
            ./start-me.sh             # Executar o script de inicialização
