name: Build and Publish Docker Images

on:
  push:
    branches:
      - teste-ci

jobs:

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Login to Docker Hub 
      run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN2 }}

    - name: Deploy to server
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        envs: prod
        script: |
          cd /comandapay
          echo "Logging in to Docker Hub"
          echo "Pulling images"
          docker compose --file docker-compose-dev.yaml pull || exit 1
          echo "Bringing up services"
          docker compose --file docker-compose-dev.yaml up -d || exit 1


