name: Build, Publish, and Deploy Docker Images

on:
  push:
    branches:
      - develop

jobs:
  build-publish-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Baixar o repositório
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Configurar o Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 3. Fazer login no Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 4. Construir e publicar a imagem no Docker Hub
      - name: Build and push establishment
        uses: docker/build-push-action@v5
        with:
          context: ./establishment-ms
          file: ./establishment-ms/Dockerfile
          push: true
          tags: jacks775/establishment-ms:latest

      # 5. Fazer login no Docker Hub (para o deploy)
      - name: Login to Docker Hub (Deploy Step)
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}

      # 6. Testar o pull da imagem para garantir sua publicação correta
      - name: Test Pull Images
        run: |
          docker pull jacks775/establishment-ms:latest

      # 7. Fazer deploy no servidor remoto
      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          envs: prod
          script: |
            cd /comandapay
            echo "Bringing up services"
            docker compose --file docker-compose-dev.yaml up -d || exit 1
