name: Deploy to Hostinger

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t establishment-ms:latest .

      - name: Push Docker image to Hostinger
        run: |
          docker save my-app:latest | bzip2 | ssh -p ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} 'bunzip2 | docker load'

      - name: Deploy Docker container
        run: |
          ssh -p ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} \
          "docker run -d --name establishment-ms -p 80:80 establishment-ms:latest"
