  name: Build and Publish Docker Images

on:
  push:
    branches:
      - develop

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN2 }}

    - name: Build and push establishment
      uses: docker/build-push-action@v5
      with:      
        context: ./establishment-ms
        file: ./establishment-ms/Dockerfile
        push: true
        tags: jacks775/establishment-ms:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Deploy to server
      uses: appleboy/ssh-action@v0.1.0
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        envs: prod
        script: |
          cd /comandapay
          docker compose -f docker-compose-prod.yaml pull
          docker-compose -f docker-compose.prod.yml up -d

